// TODO: copied blindly from janus-studio; reorganize
$sin-45: 0.70710678118
$cos-45: $sin-45 // so we don't get confused.

$color-fade: #666
$color-ultrafade: #999
$color-barelythere: #ececec

$color-normal: #222
$color-active: #00a7fb
$color-bad: #600

$color-panel-bg: #f7f7f7
$color-highlight-bg: #fadd00

// TODO: haven't actually included this.
@mixin icon
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased

$icon-delete: "\f00d"
$icon-arrow-right: "\f178"

.varying-tree
  $node-size: 2.8em
  $node-border-width: 0.2em
  $node-outer-size: $node-size + ($node-border-width * 2)
  $node-outer-radius: $node-outer-size / 2
  $inner-size: 2em
  $value-size: 1.4em
  $lambda-size: 1.4em

  $active-color: #08a4ec
  $inactive-color: #555
  $value-color: #85d316
  $inner-color: #999

  .main
    &:after
      @include reify
      clear: both

    .node
      background-color: $color-panel-bg
      border: $node-border-width solid $active-color
      border-radius: $node-size
      float: left
      height: $node-size
      margin-right: 1em
      position: relative
      width: $node-size
      z-index: 1

      .inner-marker
        $border-size: 0.2em
        $centering: ($node-size / 2) - ($inner-size / 2) - $border-size
        border: $border-size solid $inner-color
        border-radius: $inner-size
        display: none
        height: $inner-size
        left: $centering
        position: absolute
        top: $centering
        width: $inner-size

        &:after
          $length: 2.5em
          $dist-x: $sin-45 * (($inner-size / 2) + ($length / 2))
          $dist-y: $sin-45 * (($inner-size / 2) - (2 * $border-size))

          @include reify
          background: linear-gradient(0deg, $active-color, $inner-color)
          height: $length
          left: ($inner-size / 2) + $dist-x
          position: absolute
          top: ($inner-size / 2) + $dist-y
          transform: rotate(-45deg)
          width: 0.2em

      .value-marker
        $centering: ($node-size / 2) - ($value-size / 2)
        background: $value-color
        border-radius: $value-size
        height: $value-size
        left: $centering
        opacity: 0.3
        position: absolute
        top: $centering
        width: $value-size

        &:after
          @include reify
          border-bottom: 1px solid $value-color
          display: none
          height: 0
          left: 100%
          position: absolute
          top: $value-size / 2
          width: 1.6em

    .title
      font-weight: bold
      white-space: nowrap

  .tags
    float: left

    li
      background: #999
      border-radius: 0.3em
      color: #fff
      float: left
      font-size: 0.8em
      letter-spacing: -0.05em
      margin: 0.1em
        right: 0.5em
      padding: 0.2em 0.4em
      text-transform: uppercase

  &.hasInner > .main .inner-marker
    display: block
  &.hasValue > .main .value-marker
    opacity: 1
    &:after
      display: block
  &.flattened > .main .node
    border-style: dotted

  .aux
    $inner-padding: 3.5em

    display: none
    padding-top: 0.2em
    position: relative

    &:before
      @include reify
      border-left: 1px solid $inactive-color
      bottom: -1em
      left: ($node-outer-size / 2)
      position: absolute
      top: 0
      width: 0
      z-index: 2

    .varying-tree-innerNew > .varying-tree > .main .title span
      background: $color-highlight-bg

    .varying-tree-innerNew.hasNewInner + .varying-tree-inner.hasMainInner
      > .varying-tree
        opacity: 0.35
        > .main .title span
          background: $color-highlight-bg

      &:before
        $icon-size: 1.3em
        $offset: -0.3em

        @include reify
        @include icon
        color: $color-bad
        content: $icon-delete
        font-size: $icon-size
        left: $inner-padding / $icon-size + $offset
        position: absolute
        top: $offset

    .varying-tree-inner
      margin-top: 0.3em
      padding-left: $inner-padding
      position: relative
      z-index: 1

    .mapping
      background-color: $inactive-color
      border-radius: 9999px
      clear: both
      color: #fff
      cursor: default
      display: none
      font-weight: bold
      height: $lambda-size
      line-height: 1.2em
      margin-left: $node-outer-radius - ($lambda-size / 2)
      position: relative
      text-align: center
      width: $lambda-size
      z-index: 3

      span
        font-size: 0.9em

  .varying-tree-nexts
    margin-top: 0.1em // TODO: why?

  &.reducing > .varying-tree-nexts
    margin-top: -1 * ($lambda-size / 2)

  $indent: 1em
  $slant-length: 1em
  $slant-offset: $slant-length * $cos-45
  .linkedList-node
    .linkedList-next.hasNext
      margin-left: $node-outer-size / 2
      margin-bottom: -1 * $slant-offset
      padding-left: $indent
      position: relative

      &:before
        @include reify
        border-top: 1px solid $inactive-color
        left: -1 * $slant-offset
        position: absolute
        top: 0
        width: $indent + $node-outer-radius

      .linkedList-node:before
        @include reify
        border-left: 1px solid $inactive-color
        bottom: -1em
        left: 0
        position: absolute
        top: $slant-offset

      &:after
        $offset: ($slant-length * $cos-45) / 2
        @include reify
        border-left: 1px solid $inactive-color
        height: $slant-length
        left: $indent + $node-outer-radius - $offset
        top: -1px
        transform: rotate(-45deg)
        position: absolute

      + .linkedList-contents
        padding-top: $slant-offset + 0.5em

    .linkedList-contents
      padding-top: $slant-offset

  .varying-tree-nexts > .linkedList > .linkedList-node > .linkedList-next.hasNext
    &:before
      left: 0
      width: $indent + $node-outer-radius - $slant-offset
    > .linkedList-node:before
      top: 0

  &.mapped > .aux
    .mapping
      display: block
    &:after
      @include reify
      background: $inactive-color
      bottom: $lambda-size / 2
      //clip-path: url(#lambda) # someday, maybe
      left: $node-outer-radius - ($lambda-size / 2)
      opacity: 0.4
      position: absolute
      top: -0.3em
      width: $lambda-size

  &.derived > .aux
    display: block

  &.derived > .main .node
    border-color: $inactive-color
    .inner-marker:after
      background: linear-gradient(0deg, $inactive-color, $inner-color)
  &.derived.hasObservations
    > .main .node
      border-color: $active-color
      .inner-marker:after
        background: linear-gradient(0deg, $active-color, $inner-color)
    > .aux
      &:before
        border-left-color: $active-color
      .mapping
        background-color: $active-color
      &:after
        background: $active-color
    .linkedList-next.hasNext
      &:before
        border-top-color: $active-color
      .linkedList-node:before
        border-left-color: $active-color
      &:after
        border-left-color: $active-color

  &.hasValue > .aux:before
    top: ($node-size - $value-size) / -2 - $node-border-width
  &.hasInner > .aux:before
    top: ($node-size - $inner-size) / -2

.reaction
  .time
    font-size: 0.9em
    padding-bottom: 0.5em

    .minor
      color: $color-fade
      opacity: 0.7

  .reaction-part
    overflow: hidden
    .reaction-part-id
      float: left
      font-size: 1.2em
      font-weight: bold
    .reaction-part-delta
      float: right

  .reaction-intermediate
    .ellipsis
      font-size: 2.4em
      font-weight: bold

    .multiple
      bottom: 0.5em
      color: $color-ultrafade
      font-size: 0.9em
      position: relative

  .reaction-root
    padding-top: 0.35em

.varyingDelta
  overflow: hidden

  &.hasDelta
    > div
      background-color: $color-highlight-bg
    .delta
      display: block

  .value
    float: left
    font-size: 1em
    padding-top: 0.1em

  .delta
    display: none
    float: left
    font-size: 1em
    padding-top: 0.1em

  .separator
    @include icon
    float: left
    padding: 0.1em 0.2em
    &:before
      content: $icon-arrow-right

  .newValue
    float: left

