@import 'styles/util'


////////////////////////////////////////////////////////////////////////////////
// ENTITY BASE STYLES

.janus-inspect-entity
  display: inline-block

  .entity-title
    font-weight: bold

  .entity-content
    margin-left: -0.2em

    &:before, &:after
      font-weight: bold
    &:before
      content: '['
    &:after
      content: ']'

  .entity-title:hover
    color: red

    + .entity-content
      &:before, &:after
        color: red

      .entity-title
        color: inherit
      .entity-content
        &:before, &:after
          color: inherit

  .entity-more
    background: none
    border: none
      bottom: 1px dotted #777
    display: none
    margin: 0
    outline: none
    padding: 0

  .entity-more.has-more
    display: inline


////////////////////////////////////////////////////////////////////////////////
// CASE BASE STYLES

.janus-inspect-case.janus-inspect-entity
  .entity-subtitle.has-subtitle:before
    content: '.'


////////////////////////////////////////////////////////////////////////////////
// LIST BASE STYLES

.janus-inspect-list.janus-inspect-entity
  .entity-subtitle.has-subtitle:before
    content: '.'

  .list-values > ul
    display: inline

    > li
      display: inline

      &:after
        content: ','
        padding-right: 0.3em
      &:last-child:after
        content: ''


////////////////////////////////////////////////////////////////////////////////
// MODEL BASE STYLES

.janus-inspect-model.janus-inspect-entity
  .model-pairs
    color: #888

.janus-inspect-kvPair
  overflow: hidden

  .kvPair-key
    float: left
    font-weight: bold
    padding-right: 0.4em

    &:after
      content: ':'
      font-weight: normal

  .kvPair-valueBlock
    overflow: hidden
    position: relative

    .kvPair-edit input
      @include bare-textbox
      @include fill
      background: #fff
      border-radius: 0.2em
      opacity: 0
      pointer-events: none
      top: -0.1em
      width: 100%
      &:focus
        opacity: 1
        pointer-events: auto

////////////////////////////////////////////////////////////////////////////////
// VARYING BASE STYLES

.janus-inspect-varying.janus-inspect-entity
  .varying-unknown
    display: none

    &.unknown
      border: 1px dotted #888
      border-radius: 99px
      color: #888
      cursor: pointer
      display: inline
      padding: 2px 3px

      + .varying-value
        display: none

